{% extends "layout.html" %}

{% block title %}
    Birthdays
{% endblock %}

{% block main %}
<p class="center" style="font-size: 30px; margin-top: 5px;">Not good at remembering birthdays? Leave it to us!</p>
    <form action="/birthdays" method="post" class="center hbd_form">
        <div class="dif_date">
            <input style="border: 3px solid pink;" autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        </div>
         <div class="dif_date">
            <input style="border: 3px solid pink;" autocomplete="off" autofocus name="birthday" placeholder="Birthday" type="date">
        </div>
        <button style="background-color: #FFC0CB;" type="submit">Save</button>
    </form>
    <p class="center" style="font-size: 30px;"><a style="color: solid pink;" href="/birthdays_db">Click here to view birthdays.</a></p>
{% endblock %}